{% extends 'base.html.twig' %}

{% block title %}Qrcode{% endblock %}

{% block body %}
    <h1>Qrcode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ qrcode.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ qrcode.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_qrcode_index') }}">back to list</a>

    <a href="{{ path('app_qrcode_edit', {'id': qrcode.id}) }}">edit</a>

    {{ include('qrcode/_delete_form.html.twig') }}
{% endblock %}
